<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
    {% block head %}{% endblock %}
</head>

<header id="navbar">
    <div class="nav-container">
        <a href="/catalog" class="nav-logo">
            <svg viewBox="0 0 250 50" width="250px" height="50px">
                <use href="/assets/img/main.svg#logo" />
            </svg>   
        </a>
        {% block searchbar %}
            <form action="/search" class="searchbar" hx-boost="true" hx-vals='{ "page": 1 }'>
                <input name="query" type="text" placeholder="What film are you looking for?" class="search" required minlength="3" maxlength="{{ crate::api::search::MAX_QUERY_LEN }}"/> 
                <button type="submit" class="search-button">
                    <svg width="20" height="20" viewBox="0 0 24 24">
                        <use href="/assets/img/main.svg#search-logo" />
                    </svg>
                </button>
            </form>
        {% endblock %}
        <a href="https://github.com/szattila98/binge_at_home" class="github-logo">
            <svg viewBox="0 0 24 24" width="50px" height="50px">
                <use href="/assets/img/main.svg#github-logo" />
            </svg>
        </a>
    </div>
</header>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
