<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
    {% block head %}{% endblock %}
</head>

<header id="navbar">
    <div class="nav-container">
        <a href="/catalog" class="nav-logo">
            <img src="/assets/img/logo.svg" alt="">
        </a>
        {% block searchbar %}
        <div class="searchbar">
            <input type="text" class="search" placeholder="What film are you looking for?"> <button class="search-button"><img src="../assets/img/search.svg" alt=""></button>
        </div>
        {% endblock %}
        <a href="https://github.com/szattila98/binge_at_home" class="github-logo">
            <img src="/assets/img/github.svg" alt="">
        </a>
    </div>
</header>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
