{% extends "partials/explorer.html" %}

{% block title %}Browse{% endblock %}

{% block content %}
    {% match state %}
        {% when TemplateState::Ok with { catalog, files, breadcrumbs } %}
            {% include "fragments/breadcrumbs.html" %}
            <h2 class="header">{{ catalog.display_name }}</h2>
            <div class="browse-table">
                <div class="table-header">
                    <span> </span>
                    <span>Name</span>
                    <span>Path</span>
                    <span>Description</span>
                </div>
                <div class="table-body">
                    {% for file in files %}
                        {% match file %}
                            {% when File::Directory with { path, display_name } %}
                                <a class="browse-entry" hx-boost="true" href="/catalog/{{ catalog.id }}/browse/{{ path }}">
                                    <svg class="icon" viewBox="0 0 256 256" width="40" height="40">
                                        <use href="/assets/img/main.svg#folder-icon" />
                                    </svg>
                                    <span>
                                        {{display_name}}
                                    </span>
                                    <span>
                                        {{ path }}
                                    </span>
                                </a>
                            {% when File::Video with (video) %}
                                <a class="browse-entry"
                                    hx-boost="true" 
                                    href="/video/{{ video.id }}"
                                >
                                    <svg class="icon" viewBox="0 0 24 24" width="40" height="40">
                                        <use href="/assets/img/main.svg#video-icon" />
                                    </svg>
                                    <span>
                                        {{ video.display_name }}
                                    </span>
                                    <span>
                                        {{ video.path }}
                                    </span>
                                    <span>
                                        {{ video.short_desc }}
                                    </span>
                                </a>
                            {% else %}
                        {% endmatch %}
                    {% endfor %}
                </div>
            </div>
        {% when TemplateState::CatalogNotFound %}
        <div class="template-error">
            <p >A keresett katalógus nem található!</p>
            <svg viewbox="0 0 16 16"width="300px" height="300px">
                <use href="/assets/img/main.svg#catalog-error"/>
            </svg>
        </div>
           
        {% when TemplateState::InvalidPath %}
        <div class="template-error">
            <p >A keresett útvonalon nem található file!</p>
            <svg viewbox="0 0 16 16"width="300px" height="300px">
                <use href="/assets/img/main.svg#catalog-error"/>
            </svg>
        </div>
        {% when TemplateState::DbErr(_) %}
        <div class="template-error">
            <p >Technikai hiba történt!</p>
            <svg viewbox="0 0 16 16"width="300px" height="300px">
                <use href="/assets/img/main.svg#catalog-error"/>
            </svg>
        </div> 
        {% else %}
    {% endmatch %}
{% endblock %}
