{% extends "partials/explorer.html" %}

{% block title %}Browse{% endblock %}

{% block content %}
    {% match state %}
        {% when TemplateState::Ok with { catalog, files } %}
            <h1>{{ catalog.display_name }}</h1>
            <div>
                {% for file in files %}
                    {% match file %}
                        {% when File::Directory with { path, display_name } %}
                            <a hx-boost="true" href="/catalog/{{ catalog.id }}/browse/{{ path }}">mappa - {{ display_name }}</a>
                        {% when File::Video with (video) %}
                            <a 
                                hx-boost="true" 
                                href="/video/{{ video.id }}"
                            >videó - {{ video.path }} - {{ video.display_name }} - {{ video.short_desc }}</a>
                        {% else %}
                    {% endmatch %}
                {% endfor %}
            </div>
        {% when TemplateState::CatalogNotFound %}
        <div class="template-error">
            <p >A keresett katalógus nem található!</p>
            <svg viewbox="0 0 16 16"width="300px" height="300px">
                <use href="/assets/img/main.svg#catalog-error"/>
            </svg>
        </div>
           
        {% when TemplateState::InvalidPath %}
        <div class="template-error">
            <p >A keresett útvonalon nem található file!</p>
            <svg viewbox="0 0 16 16"width="300px" height="300px">
                <use href="/assets/img/main.svg#catalog-error"/>
            </svg>
        </div>
        {% when TemplateState::DbErr(_) %}
        <div class="template-error">
            <p >Technikai hiba történt!</p>
            <svg viewbox="0 0 16 16"width="300px" height="300px">
                <use href="/assets/img/main.svg#catalog-error"/>
            </svg>
        </div> 
        {% else %}
    {% endmatch %}
{% endblock %}
