{% extends "partials/explorer.html" %}

{% block title %}Catalogs{% endblock %}

{% block content %}
    {% match state %}
        {% when TemplateState::Ok with { catalogs } %}
            <h2 class="header">Catalog</h2>
            <div class="catalog-table">
                <div class="table-header">
                    <span>Name</span>
                    <span>Description</span>
                    <span>Created</span>
                    <span>Updated</span>
                </div>
                <div class="table-body">
                    {% for catalog in catalogs %}
                        <a class="catalog-entry" hx-boost="true" href="/catalog/{{ catalog.id }}/browse/{{ catalog.path }}">
                            <span>
                                {{ catalog.display_name }}
                            </span>
                            <span>
                                {{ catalog.short_desc }}
                            </span>
                            <span>
                                {{ catalog.format_date(catalog.created_at) }}
                            </span>
                            <span>
                                {{ catalog.format_date(catalog.updated_at) }}
                            </span>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="pagination">
                <a class="page-number" href="#">&laquo;</a>
                <a class="page-number  active" href="#">1</a>
                <a class="page-number" href="#">2</a>
                <a class="page-number" href="#">3</a>
                <a class="page-number" href="#">4</a>
                <a class="page-number" href="#">5</a>
                <a class="page-number" href="#">6</a>
                <a class="page-number" href="#">&raquo;</a>
            </div>
        {% when TemplateState::NoCatalogsFound %}
            <p>Nem találhatóak katalógusok</p>
        {% when TemplateState::DbErr(_) %}
            <p>Technikai hiba történt!</p>
    {% endmatch %}
{% endblock %}
