{% extends "partials/explorer.html" %}

{% block title %}Catalogs{% endblock %}

{% block content %}
    {% match state %}
        {% when TemplateState::Ok with { catalogs } %}
            <h2 class="header">Catalog</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for catalog in catalogs %}
                        <tr 
                            hx-trigger="click" 
                            hx-get="/catalog/{{ catalog.id }}/browse/{{ catalog.path }}" 
                            hx-target="body" 
                            hx-swap="innerHTML" 
                            hx-push-url="true"
                        >
                            <td>
                                {{ catalog.display_name }}
                            </td>
                            <td>
                                {{ catalog.short_desc }}
                            </td>
                            <td>
                                {{ catalog.created_at }}
                            </td>
                            <td>
                                {{ catalog.updated_at}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% when TemplateState::NoCatalogsFound %}
            <p>Nem találhatóak katalógusok</p>
        {% when TemplateState::DbErr(_) %}
            <p>Technikai hiba történt!</p>
    {% endmatch %}
{% endblock %}
