{% extends "partials/base.html" %}

{% block title %}Search{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/search.css">
{% endblock %}

{% block searchbar %}
{% endblock %}

{% block content %}
    <form action="/search" class="searchbar" hx-boost="true" hx-vals='{ "page": 1 }'>
        <input id="query" name="query" type="text" placeholder="What film are you looking for?" class="search" value="{{ query }}" required minlength="1" maxlength="{{ crate::search::MAX_QUERY_LEN }}"/> 
        <button type="submit" class="search-button">
            <svg width="20" height="20" viewBox="0 0 24 24">
                <use href="/assets/img/main.svg#search-logo" />
            </svg>
        </button>
    </form>
    {% for entry in results %}
        {% match entry %}
            {% when StoreEntry::Catalog(catalog) %}
                <p>katalógus {{ catalog.display_name }}</p>
            {% when StoreEntry::Video(video) %}
                <p>videó {{ video.display_name }}</p>
            {% else %}
        {% endmatch %}
    {% endfor %}
    {% include "includes/pager.html" %}
{% endblock %}
