{% extends "partials/base.html" %}

{% block title %}Video Details{% endblock %}

{% block content %}
    {% match state %}
        {% when TemplateState::Ok with { video, breadcrumbs } %}
            {% include "includes/breadcrumbs.html" %}
            <h1>{{ video.display_name }}</h1>
            <p>infókák a vidinyóról</p>
            <a hx-boost="true" href="/video/{{ video.id }}/watch">watch</a>
        {% when TemplateState::VideoNotFound %}
            <p>A keresett videó nem található</p>
        {% when TemplateState::DbErr(_) %}
            <p>Technikai hiba történt</p>
        {% else %}
    {% endmatch %}
{% endblock %}
