<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% match state %}
        {% when TemplateState::Ok with { video } %}
            <h1>{{ video.display_name }}</h1>
            <p>infókák a vidinyóról</p>
        {% when TemplateState::VideoNotFound %}
            <p>A keresett videó nem található</p>
        {% when TemplateState::DbErr(_) %}
            <p>Technikai hiba történt</p>
        {% else %}
    {% endmatch %}
</body>

</html>
