.header {
    text-align: center;
    color: var(--text-primary);
}

.catalog-table {

    color: var(--text-primary);
    border: 2px solid var(--secondary);
    border-radius: 10px;
    width: 100%;

    & .table-header,
    .catalog-entry {
        display: grid;
        grid-template-columns: 30% 50% 10% 10%;
    }

    & .table-header {
        padding: 10px;
        border-bottom: 2px solid var(--secondary);
    }

    & .table-header span {
        display: flex;
    }

    & .catalog-entry {
        padding: 10px;
        text-decoration: none;
        color: var(--text-primary);
    }

    & .catalog-entry:last-child {
        border-radius: 0 0 8px 8px;
    }

    & .catalog-entry span {
        min-height: 50px;
        display: inline-flex;
        align-items: center;
    }

    & .catalog-entry:nth-child(2n +1) {
        background-color: var(--base);
    }

    & .catalog-entry:hover {
        cursor: pointer;
        background-color: var(--secondary);
        color: var(--text-secondary);
    }
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;

    & .page-number {
        color: var(--text-primary);
        text-decoration: none;
        border-radius: 20px;
        padding: 5px 10px 5px 10px;
        text-align: center;
        font-size: 1.1rem;
    }

    & .page-number:hover {
        background-color: var(--primary);
    }

    & .page-number.active {
        background-color: var(--secondary);
    }
}

.template-error {
    width: 100%;
    margin-top: 35vh;
    text-align: center;
    color: var(--text-primary);
    font-size: 2rem;

    & svg {
        margin-top: 40px;
    }
}
