.health-check {
    min-height: 95vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & h1 {
        text-align: center;
        margin-top: 40vh;
        color: var(--primary);
    }

    & .small-print:first-child {
        text-align: end;
    }

    & .small-print:last-child {
        text-align: start;
    }

    & .small-print {
        margin-inline: 10px;
        color: var(--text);
    }

    & .emoji {
        text-align: center;
        font-size: 60px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: auto;
    }
}
