.health-check {
    min-height: 95vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        margin-top: 40vh;
        color: var(--primary);
    }

    .small-print:first-child {
        text-align: end;
    }

    .small-print:last-child {
        text-align: start;
    }

    .small-print {
        margin-inline: 10px;
        color: var(--text);
    }

    .emoji {
        text-align: center;
        font-size: 60px;
    }

    .test-btn,
    .test-target {
        align-self: center;
    }

    .test-target li {
        list-style: none;
        color: var(--text);
    }

    .test-target ul {
        padding: 0;
    }

    .test-btn {
        border: 0;
        background-color: var(--orange);
        color: var(--light);
        padding: 12px;
        border-radius: 10px;
        font-size: 0.9rem;
    }

    .test-btn:hover {
        cursor: pointer;
        box-shadow: 10px 8px 5px var(--secondary);
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
}
