@import url("../fragments/autosuggest.css");
@import url("../includes/pager.css");

@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(217, 100%, 5%);
        --primary: hsl(202, 60%, 50%);
        --secondary: hsl(204, 79%, 20%);
        --text-primary: hsl(190, 76%, 82%);
        --text-secondary: hsl(204, 100%, 63%);
        --base: hsl(216, 100%, 10%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: hsl(60, 18%, 96%);
        --primary: hsl(184, 34%, 58%);
        --secondary: hsl(185, 41%, 37%);
        --text-primary: hsl(217, 100%, 5%);
        --text-secondary: hsl(190, 76%, 82%);
        --base: hsl(192, 46%, 83%);
    }
}

body {
    margin: 0;
    background-color: var(--background);
    /* Needed because of chrome */
    overflow-x: hidden;

    & .github-logo {
        display: flex;
        background-color: var(--secondary);
        border-radius: 50%;
        position: fixed;
        right: 20px;
        bottom: 20px;
        padding: 5px;
    }

    & .github-logo:hover {
        background-color: var(--primary);
    }
}

p {
    margin: 0;
}

header {
    font-size: 1.4rem;
}

/* Navbar part */
#navbar {
    width: 100vw;
    background-color: var(--secondary);

    & .nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }

    & .nav-logo {
        max-width: 250px;
        display: flex;
        align-items: center;
        padding-inline: 40px;
    }

    & .searchContainer {
        display: flex;
        flex: 0 1 500px;
        min-width: 0;
        flex-direction: row;
        align-items: center;
        margin-inline: 40px;
    }

    & .searchbar {
        display: flex;
        height: 35px;
        width: 100%;
    }

    & .search-box {
        width: 100%;
        border: 2px solid var(--primary);
        border-radius: 15px 0 0 15px;
        padding: 5px;
        outline: none;
        color: var(--text);
    }

    & .search-button {
        position: relative;
        width: 40px;
        height: 35px;
        border: 1px solid var(--primary);
        background: var(--primary);
        text-align: center;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        padding: 5px;
    }

    #clear-text {
        position: absolute;
        top: 38px;
        right: 82px;
    }

    #clear-text button {
        display: inline-block;
        border: 1px solid transparent;
        background-color: transparent;
        outline: 0;
        cursor: pointer;
        font-size: 16px;
    }

    .search-box:not(:valid)~#clear-text {
        display: none;
    }
}

.header {
    text-align: center;
    color: var(--text-primary);
}



/* For Desktop View */
@media (1200px <=width) {
    #content {
        width: 90vw;
        margin-inline: 5vw;
    }
}

/* For Small Screen and Laptops */
@media (1024px <=width < 1200px) {
    #content {
        width: 92vw;
        margin-inline: 4vw;
    }

    #navbar {
        & .nav-container {
            grid-template-columns: 70% 25% 5%;
        }
    }
}

/* For Tablet View */
@media (768px <=width < 1024px) {
    #content {
        width: 94vw;
        margin-inline: 3vw;
    }

    #navbar {
        & .nav-container {
            grid-template-columns: 65% 30% 5%;
        }
    }
}

/* For Mobile Landscape View */
@media (480px <=width < 768px) {
    #content {
        width: 96vw;
        margin-inline: 2vw;
    }

    #navbar {
        & .nav-container {
            grid-template-columns: 60% 35% 5%;
        }
    }
}

/* For Mobile Portrait View */
@media (width < 480px) {
    #content {
        width: 98vw;
        margin-inline: 1vw;
    }

    #navbar {
        & .nav-container {
            grid-template-columns: 50% 45% 5%;
        }
    }
}
